<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <li><strong>Name: </strong><%= authors.name %></li>
    <li><strong>Job: </strong><%= authors.job %></li>
  </body>
</html>
